$primary-dark: rgb(0, 0, 0);
$primary-grey: rgb(161, 161, 161);
$primary-light: #bbb;

.form {
  border: 1px solid black;
  display: flex;
  &__input {
    border: none;
    padding: 10px;
    flex: 10;

    &:focus {
      outline: none;
    }
  }
  &__btn {
    flex: 2;
    border: none;
    border-left: 1px solid black;
    border-radius: 0;
    padding: 2px 12px;
    background: $primary-dark;
    color: $primary-light;
    &:hover {
      background: $primary-light;
      color: $primary-dark;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
}
