<article class="c-card">
  <header class="c-card__header">
    <img
      src="http://placehold.it/350x200"
      class="c-card__image"
      alt="Card Image"
    />
  </header>
  <div class="c-card__body">
    <h2 class="c-card__title">
      Card
    </h2>
    <p class="c-card__subtitle">
      initial component
    </p>
    <p class="c-card__intro">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>
  <footer class="c-card__footer">
    Footer
  </footer>
</article>
