<div class="container">
  <h1 class="nav__title">UEFA Champions League</h1>
  <!-- split to own comp -->
  <form class="form__search">
    <input class="form__search-input" placeholder="Search Team" type="text" />
    <button class="form__search-submit" button="submit">
      Search
    </button>
  </form>
  <!--  -->
  <div class="container">
    <section class="content">
      <div class="Loader" *ngIf="products.length === 0">Loading...</div>
      <article class="card" *ngFor="let product of products">
        <h1 class="card__title">{{ product.name }}</h1>
        <span class="card__description">
          <em> {{ product.description }} </em>
          <img class="card__img" src="{{ product.imageUrl }}" />
        </span>
        <button class="card__btn-action">Read More</button>
      </article>
    </section>
  </div>
</div>
