<div class="c-calculator">
  <input type="text" class="c-calculator__screen" value="0" disabled />

  <div class="c-calculator__keys">
    <button type="button" class="c-calculator__operator" value="+">+</button>
    <button type="button" class="c-calculator__operator" value="-">-</button>
    <button type="button" class="c-calculator__operator" value="*">
      &times;
    </button>
    <button type="button" class="c-calculator__operator" value="/">
      &divide;
    </button>

    <button type="button" class="c-calculator__btn" value="7">7</button>
    <button type="button" class="c-calculator__btn" value="8">8</button>
    <button type="button" class="c-calculator__btn" value="9">9</button>

    <button type="button" class="c-calculator__btn" value="4">4</button>
    <button type="button" class="c-calculator__btn" value="5">5</button>
    <button type="button" class="c-calculator__btn" value="6">6</button>

    <button type="button" class="c-calculator__btn" value="1">1</button>
    <button type="button" class="c-calculator__btn" value="2">2</button>
    <button type="button" class="c-calculator__btn" value="3">3</button>

    <button type="button" class="c-calculator__btn" value="0">0</button>
    <button type="button" class="c-calculator__decimal" value=".">.</button>
    <button type="button" class="c-calculator__all-clear" value="all-clear">
      AC
    </button>

    <button type="button" class="c-calculator__equal-sign" value="=">=</button>
  </div>
</div>
