$primary-grey: rgb(161, 161, 161);
$primary-red: rgb(82, 27, 27);

.todoitem {
  min-width: 325px;
  padding: 10px;
  border-bottom: 1px dotted #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary-grey;
  &__title {
    &-complete {
      text-decoration: line-through;
    }
  }
  &__btn {
    &-delete {
      border: none;
      border-radius: 5px;
      padding: 3px 8px;
      cursor: pointer;
      background: red;
      background: $primary-red;
      color: white;
    }
  }
}
